html{
    background-color: gold;
}

html, body{
    height: 100%;
}

#clock{
    display: flex;
    justify-content: center;
    
    width: 130px;
    height: 40px;
    align-items: center;
    font-size: 30px;

}

.content{

    display: flex;
    justify-content: center;
    margin-top: 25rem;   
}
